* {
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    color: #555;
    margin: 0;
}

.container {
    max-width: 96rem;
    width: 90%;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* .mainHeader */

.mainHeader {
    background: white;
    display: flex;
    padding: 1rem 3rem;
    box-shadow: 0 0.1rem 1.4rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader__appName {
    margin: 0;
    font-weight: normal;
    font-size: 2.6rem;
}

.twitterLink {
    display: block;
    height: 3.6rem;
    box-sizing: content-box;
    padding: 1rem;
    svg {
        height: 100%;
    }
}

/* .gameArea */

.gameArea {
    margin-top: 3rem;
    overflow: hidden;
}

.gameArea__gameWrapper {
    background: white;
    min-height: 23rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.gameArea__game {
    flex: 0 0 calc(100% - 23rem);
}

.gameArea__dashboard {
    position: relative;
    flex: 0 0 23rem;
    padding: 8% 2rem 2rem 4rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameArea__button {
    width: 100%;
    background: #bada55;
    padding: 2rem;
    border: 1px solid #eee;
    color: #000;
    border-radius: 0.5rem;
    font: inherit;
    margin-top: 30px;
}

/* .timer */

.timer {
    padding: 1rem;
}

.timer__label {
    display: block;
    margin-bottom: 2rem;
}

.timer__value--minutes {
    font-size: 4rem;
}

.timer__value--seconds {
    font-size: 6rem;
}
